<html>
    <head>

    </head>
<main>
    <div ng-controller="ListCtrlArea">
        <h2>List area and production Stats </h2>


        <button class="button btn btn-primary" ng-click="loadInitial()">Load Initial Data</button>
        <h4>Apikey = 12345</h4>
        Insert ApiKey<input class="form-control" ng-model="api" />
        <button class="button btn btn-primary" ng-click="setApikey(api)">Send</button>
        <!--h4>Search</h4>
        <Province:<input class="form-control" type="text" name="search" ng-model="test1" placeholder="Province.."> 
        Year: <input class="form-control" type="text" name="search" ng-model="test2" placeholder="Year.."> 
        Import:
        <input class="form-control" type="text" name="search" ng-model="test4" placeholder="Import.."> 
        Export: <input class="form-control" type="text" name="search" ng-model="test5" placeholder="Export..">-->
        
        
        <div class="row">
            <div class="col-md-6">
                <h4>Province:</h4><input class="form-control" type="text" name="search" ng-model="test1" placeholder="Province.."></div>

            <div class="col-md-6">
                <h4>Year:</h4><input class="form-control" type="text" name="search" ng-model="test2" placeholder="Year.."></div>


            <div class="col-md-6">
                <h4>Area:</h4><input class="form-control" type="text" name="search" ng-model="test3" placeholder="Area.."> </div>

            <div class="col-md-6">
                <h4>Production:</h4><input class="form-control" type="text" name="search" ng-model="test4" placeholder="Production.."></div>

        </div>
        
        <br/>

        <div class="row">
            <div class="col-md-6">
                <h4>From:</h4><input class="form-control" ng-model="from" /> </div>

            <div class="col-md-6">
                <h4>To:</h4> <input class="form-control" ng-model="to" /> </div>

        </div>
        <button class="button btn btn-primary" ng-click="searchFrom(from,to)">GET</button>



        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Province</th>
                    <th>Year</th>
                    <th>Area Stats</th>
                    <th>Production Stats</th>
                    <th>ACTIONS</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" ng-model="newStat.province" /></td>
                    <td><input class="form-control" ng-model="newStat.year" /></td>
                    <td><input class="form-control" ng-model="newStat.AreaS" /></td>
                    <td><input class="form-control" ng-model="newStat.ProductionS" /></td>
                    <td><button class="button btn btn-primary" ng-click="addStat()">Add</button></td>
                    <td></td>
                </tr>
                <div>
                    <tr dir-paginate="stat in stats |itemsPerPage: pageSize|filter:test1 |filter:test2 |filter:test3 |filter:test4 " current-page="currentPage">
                        <td><a href="#!/area/{{stat.province}}/{{stat.year}}">{{stat.province}}</a></td>
                        <td>{{stat.year}}</td>
                        <td>{{stat.areaS}}</td>
                        <td>{{stat.productionS}}</td>
                        <td><button class="button btn btn-danger" ng-click="deleteStat(stat.province,stat.year)">Delete</button></td>

                    </tr>
                </div>

            </tbody>
        </table>
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
        <button class="button btn btn-danger btn-lg" ng-click="deleteAll()">Delete All</button>
        <div ng-if="errorMessage">
        </div>

    </div>

</main>

</html>