<html>

<head>

</head>
<main>
    <div ng-controller="ListCtrlArea">
        <h2>List Area and production Stats </h2>

        <button class="button btn btn-primary" ng-click="loadInitial()">Load Initial Data</button>

        <div class="row">
            <div class="col-md-6">
                <h4>Province:</h4><input class="form-control" type="text" name="search" ng-model="test1" placeholder="Province.."></div>

            <div class="col-md-6">
                <h4>Year:</h4><input class="form-control" type="text" name="search" ng-model="test2" placeholder="Year.."></div>

            
            <div class="col-md-6">
                <h4>Area:</h4><input class="form-control" type="text" name="search" ng-model="test4" placeholder="Area.."> </div>

            <div class="col-md-6">
                <h4>Production:</h4><input class="form-control" type="text" name="search" ng-model="test5" placeholder="Production.."></div>

        </div>

        <br/>

        <div class="row">
            <div class="col-md-6">
                <h4>From:</h4><input class="form-control" ng-model="from" /> </div>

            <div class="col-md-6">
                <h4>To:</h4> <input class="form-control" ng-model="to" /> </div>

        </div>
        <button class="button btn btn-primary" ng-click="searchFrom(from,to)">GET</button>



        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Province</th>
                    <th>Year</th>
                    <th>Area Stats</th>
                    <th>Production Stats</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" ng-model="newStat.province" /></td>
                    <td><input class="form-control" ng-model="newStat.year" /></td>
                    <td><input class="form-control" ng-model="newStat.areaS" /></td>
                    <td><input class="form-control" ng-model="newStat.productionS" /></td>
                    <td><button id "ad" class="button btn btn-primary" ng-click="addStat()">Add</button></td>
                    <td></td>
                </tr>
                <div>
                    <tr ng-repeat="stat in stats" current-page="currentPage">
                        <td><a href="#!/export/{{stat.province}}/{{stat.year}}">{{stat.province}}</a></td>
                        <td>{{stat.year}}</td>
                        <td>{{stat.areaS}}</td>
                        <td>{{stat.productionS}}</td>
                        <td><button class="button btn btn-danger" ng-click="deleteStat(stat.province,stat.year)">Delete</button></td>

                    </tr>
                </div>

            </tbody>
        </table>
        <div>
            <button class="button btn btn-primary" ng-click="pageLess()">Previous</button> {{currentPage}}/{{numPages}}

            <button class="button btn btn-primary" ng-click="pageMore()">Next</button>

        </div>
        <div>
            <button class="button btn btn-danger btn-lg" ng-click="deleteAll()">Delete All</button>
        </div>

    </div>

</main>

</html>
