<div ng-controller="EditCtrlExport">


    <h2> Edit Export and import Stats</h2>


    <table class="table">
        <thead>
            <tr>
                <th>Province</th>
                <th>Year</th>
                <th>Oil</th>
                <th>Import Stats</th>
                <th>Export Stats</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{updateStat.province}}</td>
                <td>{{updateStat.year}}</td>
                <td><input class="form-control" ng-model="updateStat.oil" /></td>
                <td><input class="form-control" ng-model="updateStat.importS" /></td>
                <td><input class="form-control" ng-model="updateStat.exportS" /></td>
                <td><button class="button btn btn-primary" ng-click="updateS()">Update</button></td>
            </tr>
        </tbody>
        </<table>


</div>
