<html>

<head>

</head>
<main>
    <div ng-controller="ListCtrlExport">
        <h2>List Export and import Stats </h2>

        <button class="button btn btn-primary" ng-click="loadInitial()">Load Initial Data</button>

        <div class="row">
            <div class="col-md-6">
                <h4>Province:</h4><input class="form-control" type="text" name="search" ng-model="test1" placeholder="Province.."></div>

            <div class="col-md-6">
                <h4>Year:</h4><input class="form-control" type="text" name="search" ng-model="test2" placeholder="Year.."></div>

            <div class="col-md-6">
                <h4>Oil:</h4><input class="form-control" type="text" name="search" ng-model="test3" placeholder="Oil.."> </div>

            <div class="col-md-6">
                <h4>Import:</h4><input class="form-control" type="text" name="search" ng-model="test4" placeholder="Import.."> </div>

            <div class="col-md-6">
                <h4>Export:</h4><input class="form-control" type="text" name="search" ng-model="test5" placeholder="Export.."></div>

        </div>

        <br/>

        <div class="row">
            <div class="col-md-6">
                <h4>From:</h4><input class="form-control" ng-model="from" /> </div>

            <div class="col-md-6">
                <h4>To:</h4> <input class="form-control" ng-model="to" /> </div>

        </div>
        <button class="button btn btn-primary" ng-click="searchFrom(from,to)">GET</button>



        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Province</th>
                    <th>Year</th>
                    <th>Oil</th>
                    <th>Import Stats</th>
                    <th>Export Stats</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input class="form-control" ng-model="newStat.province" /></td>
                    <td><input class="form-control" ng-model="newStat.year" /></td>
                    <td><input class="form-control" ng-model="newStat.oil" /></td>
                    <td><input class="form-control" ng-model="newStat.importS" /></td>
                    <td><input class="form-control" ng-model="newStat.exportS" /></td>
                    <td><button id "ad" class="button btn btn-primary" ng-click="addStat()">Add</button></td>
                    <td></td>
                </tr>
                <div>
                    <tr ng-repeat="stat in stats" current-page="currentPage">
                        <td><a href="#!/export/{{stat.province}}/{{stat.year}}">{{stat.province}}</a></td>
                        <td>{{stat.year}}</td>
                        <td>{{stat.oil}}</td>
                        <td>{{stat.importS}}</td>
                        <td>{{stat.exportS}}</td>
                        <td><button class="button btn btn-danger" ng-click="deleteStat(stat.province,stat.year)">Delete</button></td>

                    </tr>
                </div>

            </tbody>
        </table>
        <div>
            <button class="button btn btn-primary" ng-click="pageLess()">Previous</button> {{currentPage}}/{{numPages}}

            <button class="button btn btn-primary" ng-click="pageMore()">Next</button>

        </div>
        <div>
            <button class="button btn btn-danger btn-lg" ng-click="deleteAll()">Delete All</button>
        </div>

    </div>

</main>

</html>
